header{
    background-image: url(images/);
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

@media screen and (min-width: 1200px) {
    header{
    justify-content: space-around;
    }
}