.searchBox {
    width: 100%;
    height: 600px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.searchBoxH1 {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.searchBoxH3 {
    width: 80%;
    height: 50px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

input {
    width: 380px;
    height: 55px;
    border-radius: 7px;
    background-color: #00000079;
    border: 1px solid gray;
    color: white;
    font-size: 18px;
    padding: 12px;
}

xmp {
    width: 200px;
    height: 55px;
    background-color: rgb(234, 0, 0);
    cursor: pointer;
    transition: .4s;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    border-radius: 7px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

xmp:hover {
    background-color: rgb(169, 0, 0);
}


@media screen and (max-width: 960px) {
    .searchBoxH1 {
        font-size: 30px;
        font-weight: 900;
    }

    .searchBoxH3 {
        font-size: 17px;
        font-weight: 400;
    }
}